.container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px
}

.box {
    background-color: #da86ea;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #d624fa;
}

.heading {
    font-family: "Poppins";
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.formContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inputItem > input {
    border-radius: 10px;
    font-family: "Poppins";
    max-width: 100%;
    font-size: 20px;
    padding: 5px;
    color: black;
}

.submitbtn {
    border-radius: 5px;
    border: 1px solid rgb(66, 53, 129);
    font-family: "Poppins";
    max-width: 100%;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #7100ff;
    color: white;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #8b41e5;
}

.googlebtn {
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 16px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .box{
        width: 60%;
    }
    .heading {
        font-size: 16px;
    }
    .inputItem > input {
        font-size: 15px;
    }

    .account {
        font-size: 10px;
    }
}